# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build
dist/
dist-ssr/
*.local
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor & OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-workspace
*.sublime-project

# Arduino / Embedded temp files
*.hex
*.bin
*.elf
.build/
build/

# Testing & Coverage
coverage/
*.lcov
.nyc_output
